<html>
    <head>
        <meta charset="utf-8">
        <title>VueJS Tutorial</title>
        <link rel="stylesheet" href="styles.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    </head>
    <body>
        <div id="vue-app">

            <h3>Vue Instance, data and methods</h3>
            <h4>Calling and function and passing an atribbute:</h4>
            <p> {{ greet('afternoon') }} </p>

            <h4>Outputting data via the instance:</h4>
            <p> Name: {{ name }}</p>

            <h3>Data Binding</h3>
            
            <h4>Data Binding with v-bin:</h4>
            <a v-bind:href="website">Some Website</a>
            <h4>Data Binding with v-html:</h4>
            <p v-html="websiteTag"></p>

            <h3>Events</h3>

            <h4>Using v-on to listen to an event</h4>
            <p>My age is {{age}}</p>
            <p>With event modifier, you can only add a year it once</p>
            <button v-on:click.once="add">Add a year</button>
            <button v-on:click="subtract">Substract a year</button>

            <p>With event modifier, we are preventing the link to open</p>
            <a v-on:click.prevent="click" href="http://www.google.com"> Try to open this</a>
            
            <p>Listening to mouse mouvement</p>
            <div id="canvas" v-on:mousemove="updateXY"> {{x}}, {{y}} </div>

            <h3>Keyboard Events</h3>

            <p>Triggering an action after you press a specific key (enter), using a modifier</p>
            <label>Name</label>
            <input type="text" v-on:keyup.enter="logName">
            <p>Triggering an action after you press a specific combination of keys (alt+enter), using a chain of modifiers</p>
            <label>Age</label>
            <input type="text" v-on:keyup.alt.enter="logAge">

            <h3>2-Way Data Binding</h3>

            <h4>Whatever you type is updating the name and age variables, and outputs them again</h4>

            <label>Name</label>
            <input type="text" v-model="name" >
            <span>{{name}}</span>
            <label>Age</label>
            <input type="text" v-model="age" >
            <span>{{age}}</span>

            <h3>Computed Properties</h3>

            <button v-on:click="a++">Add to A</button>
            <button v-on:click="b++">Add to B</button>
            <p>A - {{ a }}</p>
            <p>B - {{ b }}</p>
            <p>Age + A = {{ addToA }}</p>
            <p>Age + B = {{ addToB }}</p>

        </div>


        <script src="app.js"></script>
    </body>
</html>